
.form-control, .btn{
    border-radius: 0px;
}

.top{
    margin-top: 30px;
}

#find_mobile{
    margin-top: 7px;
}

.thumbnail{
    margin-left: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
    border-radius:0 2px 2px 0;
}

.ui-autocomplete{
    z-index: 645665;
    border-radius: 0px;
}

.navbar-shadow{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.23);
}

body{
    background-color: whitesmoke;
    overflow-x: hidden;
}

.menu-left{
    margin-top: 60px;
}

.navbar-fixed-top{
    background-color: #9b59b6;
}
